@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: #e4951d;
}

nav .middle {
    display: flex;
    gap: 3rem;
}

nav .middle a {
    color: #000;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

nav .right {
    display: flex;
    gap: 3rem;
}

nav .right a {
    color: #000;
    font-weight: 500;
    transition: all 0.3s ease-in-out;

}

main {
    flex: 1;
    background-color: #f8e5b5;

}

.container {
    display: flex;
    justify-content: center;
}

.boxes {
    display: flex;
    justify-content: space-around;
    text-align: justify;
    flex-direction: row;
    margin-top: 75px;
    width: 100%;
    gap: 40px;
    outline: 1px solid red; 

    .left {
        max-width: 450px;
    }

    .right {
        max-width: 450px;

        img {
            border-radius: 20px;
        }
    }
}

footer {
    text-align: center;
    padding: 12px;
    background-color: #1b7aa0
}

/*Format mobile */
@media screen and (max-width: 720px) {
    .boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1000px) {
    .boxes {
        flex-direction: column;
        margin-bottom: 50px;
        align-items: center;
    }
}